@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  width: 100%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
}

.balance__content {
  text-align: center;
  padding-top: 50px;
}

.balance__content > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #004e92;
}

.balance__content > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;

  color: #000000;
}

.page_button {
  display: flex;
  justify-content: center;
}

.page_button > button {
  width: 200px;
  height: 54px;
  background: #004e92;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.page_button > button:disabled {
  background: rgba(0, 78, 146, 0.2);
}

.modal_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal_section > div {
  max-width: 600px;
  padding: 10px;
}

.modal_section > div > div {
  padding: 25px 0;
  overflow: auto;
  background: #fdfdfd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

.card_container {
  max-width: 400px;
  padding: 0 10px;
  margin: 0 auto 20px auto;
}

.card_container > p {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  text-align: right;
  color: rgba(0, 4, 40, 0.6);
}

.card_container > p > span {
  cursor: pointer;
}

.card_container > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #004e92;
  text-align: center;
}

.card_container_full {
  margin-bottom: 20px;
}

.form_div > label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.form_div > input {
  height: 48px;
  background: #ffffff;
  border: 1px solid #75759e;
  border-radius: 3px;
  outline: none;
  padding: 0 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: #000000;
}

.card_container_short {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.card_container_expiry {
  width: 48%;
}

.card_container_cvv {
  width: 48%;
}

.form_div > p {
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #db3957;
  margin: 0;
}

.log {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 999999;
  bottom: 0;
}

.log > div {
  margin: auto;
  padding: 20px 10px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f8fbfb;
  border-top: 6px solid #2ab750;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.log_text {
  width: calc(100% - 50px);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.11px;
  text-align: left;
  color: #324d53;
}

.log_close {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #2ab750;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.12px;
  color: #324d53;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
